<%- include('../partials/header') %>

    <form action="/cities" method="POST">


        <label>City Name:
            <input type="string" name="city" required>
        </label><br>

        <label>Province:
            <select name="province">
               <% provinces.forEach((p)=>{  %>
                <option value= "<%=p%>"><%= p %></option>
               <% })%>
            </select>
        </label><br>

        <label>Population:
            <input type="Number" name="population" >
        </label><br>

        <button type="submit">Add City</button>

    </form>
    <p>
        <%= errorMsg %>
    </p>

    <%- include('../partials/footer') %>