<%- include('../partials/header') %>

<section id="show-page">
  <div>City: </div>
  <div><%= city.city %></div>
  <div>Province: </div>
  <div><%= city.province %></div>
  <div>Population: </div>
  <div><%= city.population %></div>
</section>

<%- include('../partials/footer') %>